.caixa {
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    text-align: left;
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .titulo {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .perguntas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .botao_sim {
    background-color: #f5f5f5;
    border: 1px green solid;
    border-radius: 5px;
    color: green;
    font-size: 18px;
    padding: 10px 20px;
    cursor: pointer;
    margin: 5px;
    transition: background-color 0.3s, transform 0.2s;
  }
  
  .botao_nao {
    background-color: #f5f5f5;
    border: 1px red solid;
    border-radius: 5px;
    color: red;
    font-size: 18px;
    padding: 10px 20px;
    cursor: pointer;
    margin: 5px;
    transition: background-color 0.3s, transform 0.2s;
  }
  
  .botao_voltar {
    background-color: #f5f5f5;
    border: 1px solid black;
    border-radius: 5px;
    color: black;
    font-size: 18px;
    padding: 10px 20px;
    cursor: pointer;
    margin: 5px;
    transition: background-color 0.3s, transform 0.2s;
  }
  